
body{
    background-color: #3737a3;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

#start{
    transition: 1s opacity;
}

.board button{
    width: 100px;
    height: 100px;
    margin-left: 3px;
    background-color: rgb(146, 146, 146);
}

#newGame.hide{
    display:none;
}

#newGame{
    display:none;
    margin-top: 5px;
    width: 150px;
    background-color: black;
    border-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#titleOfGame{
    margin-top: 40px;
}

/* home css */
#homecont{
    margin-top: 40px;
}

p{
    margin-bottom: 1px;
    font-size: 12px;
}

#submit{
    margin-top: 5px;
    background-color: black;
    border-color: black;
    color: white;
    width: 100px;
    font-weight: bold;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
